html{
    font-size: 62.5%;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.home{
    background:radial-gradient(#525252, #131313);
}

body{
   color:white;
   font-family:"Monteserrat", sans-serif;
}

h1{
    font-size:2.5rem;
    font-family:"Lobster", sans-serif;
    font-weight: lighter;
}
h2{
    font-size:8rem;
    font-family:"Lobster", sans-serif;
}
h3{
    font-size:3.5rem;
}
h4{
    font-size:3rem;
}

p{
    font-size:2.5rem;
}

li{
    font-size:2rem;
    list-style: none;
}

a{
    color:white;
    text-decoration:none;
    list-style-type: none;
}

.nav-container{
    background:rgb(32, 32, 32);
}
#logo{
    color:white;
    flex:3.5;
    position:relative;
    z-index: 1;
}
#logo::after{
    content: "";
    position:absolute;
    top:0;
    left:0;
    width:6rem;
    height:6rem;
    background:#f54538;
    border-radius:50%;
    transform:translate(-10%, -20%);
    z-index: -1;

}
nav{
    display:flex;
    justify-content:space-between;
    align-items: center;
    margin:auto;
    width:80%;
    min-height:10vh;
    padding:3rem 0rem;
}

nav ul{
    display:flex;
    justify-content:space-between;
    flex: 1;
}
nav .order{
    background:#f54538;
    padding:1rem 2rem;
    border-radius:2rem;
}

.showcase{
    display:grid;
    min-height:90vh;
    grid-template-columns: 10% repeat(3, minmax(5rem, 1fr)) 10%;
  grid-template-rows: 1fr 2fr 1fr;
}

.showcase h2{
    grid-column:2/3;
    align-self: flex-end;
    
}
.showcase img{
    grid-column:3/4;
    grid-row:2/3;
    height: 110%;
    object-fit: cover;
    align-self: center;
    justify-self: center;
}
.showcase .info{
    grid-column: 4/5;
    grid-row: 3/4;
}
.showcase .info h3{
    padding-bottom: 3rem;
}



/*features section */

.features-container{
    background:#323232;
    position:relative;
    z-index:0;
    overflow:hidden;

}

.features{
    height:90vh;
    width:80%;
    margin:auto;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
}

.features .cards{
    display:flex;
    justify-content:space-between;
    color:black;
    margin:10px;
}
.features .cards .card{
    background:white;
    margin:0rem 3rem;
    display:flex;
    flex-direction:column;
    text-align:center;
    border-radius:2rem;
    box-shadow: #131313;
    margin-bottom:4rem;

}

.features .cards .card h4{
    margin:3rem 0rem 1rem 0rem;
    padding:2rem;
}
.features .cards .card img{
    object-fit:cover;
}
.features h2{
    text-align: center;
    padding:30px;
}
.features-container .wave{
    position:absolute;
    left:0;
    bottom:-25%;
    width:100%;
    z-index:-1;
}

/* footer section */
.soon{
    background:radial-gradient(#525252, #131313);
    min-height:80vh;
    position:relative;
    z-index: 0;
    align-items: center;
}
.soon h2{
    position:absolute;
    top:50%;
    left:34%;
    border:3px solid #f54538;
    padding: 25px;
    border-radius:50%;
}
.soon .footer{
    padding:5px;
}



@media screen and (max-width:1200px){
    html{
        font-size:50%;
    }
    nav #logo{
        flex:1;
    }
    nav ul li{
        margin-left:5rem;
    }
    .showcase{
        grid-template-columns: 10% 1fr 10%;
    }
    .showcase img{
        width:100%;
        object-fit:contain;
    }
}